<%

# local variables:
#
#   task
#   test_execution

%>

<% if task.most_recent_execution %>
  <div class = 'panel panel-<%= execution_status_class(test_execution) %>' id = 'results_panel'>
    <div class = 'panel-heading'>
      <h1 class='panel-title'>
        Results
        <div class = 'pull-right'>
          <select id="select_execution" aria-label="View test execution">
            <% task.test_executions.sort_by { |obj| obj.created_at }.reverse.each_with_index do |execution, i| %>
              <option value = <%= task_test_execution_path(task, execution) %> <%= 'selected="selected"' if execution.id == test_execution.id %>><%= get_select_history_message(execution, i == 0) %></option>
            <% end %>
          </select>
          <button id="view_execution" class="btn btn-xs btn-<%= execution_status_class(test_execution) %>">Refresh View</button>
        </div>
      </h1>
    </div>
    <div class = 'panel-body' id = 'display_execution_results' >
      <%= render partial: '/test_executions/results/execution_results', locals: { execution: test_execution } %>
    </div>
  </div>
<% end %>